/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./normalize.css');
@import url('./variables.css');
@import url('./typography.css');
@import url('./button.css');
@import url('./scrollbar.css');