/**
  |============================
  | Styles Scroll
  |============================
*/

.scroll-container {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

.scroll-content {
  display: inline-block;
}

.scroll-by-items {
  display: inline-block;
  width: 500px;
  height: 48px;
  gap: 15px;
  background-color: #f0f0f0;
  margin: 10px;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  background-color: transparent;
}


::-webkit-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.18);
  border-radius: 12px;

}

::-webkit-scrollbar-button {
  display: none;

}

::-webkit-scrollbar-track {
  background-color: var(--color-modal-background);

  background-color: transparent;
}
