/* All variables are stored here */

:root {
  /*
   * Breakpoints
   */

  --breakpoint-mobile-width: 375px;

  --breakpoint-tablet-width: 768px;

  --breakpoint-computer-width: 1280px;

  /*
   * Container paddings
   */

  --breakpoint-mobile-container-padding-inline: 20px;
  --breakpoint-tablet-container-padding-inline: 32px;
  --breakpoint-computer-container-padding-inline: 100px;
}
