/* All variables are stored here */

:root {
  /*
   * Breakpoints
   */

  --breakpoint-mobile-width: 375px;

  --breakpoint-tablet-width: 768px;

  --breakpoint-computer-width: 1160px;

  /*
   * Container paddings
   */

  --breakpoint-mobile-container-padding-inline: 20px;
  --breakpoint-tablet-container-padding-inline: 32px;
  --breakpoint-computer-container-padding-inline: 40px;

  /*
   * Colors
   */

  /* Main shared */
  --color-text-primary: #050505;
  --color-accent-primary: #9bb537;

  --color-gray-accent-primary: #f8f8f8;
  --color-gray-accent-secondary: #d9d9d9;

  --color-gray-pale-alpha010: rgba(5, 5, 5, 0.10);
  --color-gray-pale-alpha020: rgba(5, 5, 5, 0.20);
  --color-gray-pale-alpha030: rgba(5, 5, 5, 0.30);
  --color-gray-pale-alpha050: rgba(5, 5, 5, 0.50);
  --color-gray-pale-alpha080: rgba(5, 5, 5, 0.80);

  --color-icon-disabled: rgba(248, 248, 248, 0.5);

  /* Header */
  --color-header-icon-primary: var(--color-text-primary);
  --color-header-icon-accent: var(--color-accent-primary);


  /* Hero */
  --color-hero-card-title: rgba(248, 248, 248, 0.60);
  --color-hero-card-subtitle: rgba(248, 248, 248, 0.20);

  /* Modal */
  --color-modal-background: #ffffff;

  /* Star */
  --color-star-marked: #EEA10C;
  --color-star-unmarked: var(--color-gray-accent-secondary);

  /* Pagination */
  --color-pagination-arrow-disabled: var(--color-icon-disabled);
  --color-pagination-arrow-background-disabled: var(--color-text-primary);

  --color-pagination-arrow-enabled: var(--color-text-primary);
  --color-pagination-arrow-background-enabled: var(--color-accent-primary);

  --color-pagination-text: var(--color-text-primary);
  --color-pagination-text-background-selected: var(--color-accent-primary);

  /* Like */
  --color-like-disabled: var(--color-icon-disabled);
  --color-like-enabled: #ffffff;
}
