/**
  |============================
  | All Categories
  |============================
*/

.all-categories-button {
  width: 176px;
  padding: 14px 20px;

  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--color-gray-pale-alpha050);
  border-color: var(--color-gray-pale-alpha020);
  border-radius: 15px;
  border: 1px solid var(--color-gray-pale-alpha020);

  margin-bottom: 30px;
  transition: background-color var(--primary-animation-duration) var(--primary-animation-time-func),
  color var(--primary-animation-duration) var(--primary-animation-time-func),
  border var(--primary-animation-duration) var(--primary-animation-time-func);
}

.all-categories-button:hover,
.all-categories-button:focus,
.all-categories-button.is-active {
  background-color: var(--color-accent-primary);
  color: var(--color-gray-accent-primary);
  border: 1px solid var(--color-accent-primary);
  transition: background-color var(--primary-animation-duration) var(--primary-animation-time-func),
  color var(--primary-animation-duration) var(--primary-animation-time-func),
  border var(--primary-animation-duration) var(--primary-animation-time-func);

}

.all-categories-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
  width: 100%;
  height: 198px;
  overflow-y: scroll;
}

.all-categories-item-button {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(20 / 16);

  cursor: pointer;

  border: none;
  background: none;
  color: var(--color-gray-pale-alpha030);
  transition: color var(--primary-animation-duration) var(--primary-animation-time-func);
}

.all-categories-item-button:hover,
.all-categories-item-button:focus,
.all-categories-item-button.is-active {
  color: var(--color-accent-primary);
  transition: color var(--primary-animation-duration) var(--primary-animation-time-func);

}

@media screen and (min-width: 768px) {
  .all-categories-button {
    margin-top: 26px;
  }

  .all-categories-list {
    height: 416px;
    gap: 24px;
  }
}

@media screen and (min-width: 1160px) {


  .all-categories-button {
    margin-bottom: 42px;
  }
}


