/**
  |============================
  | All Categories
  |============================
*/

.button {
  background: none;
  border-radius: 15px;
  padding: 14px 28px;
  font-weight: 500;
  cursor: pointer;
}

.all-categories-button {
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--color-gray-pale-alpha050);
  border-color: var(--color-gray-pale-alpha020);
  border-radius: 15px;
  border: 1px solid var(--color-gray-pale-alpha020);

  margin-bottom: 30px;
}

.all-categories-button:hover,
.all-categories-button:focus,
.all-categories-button.is-active {
  background-color: var(--color-accent-primary);
  color: var(--color-gray-accent-primary);
  border: 1px solid var(--color-accent-primary);
  transition: all 0.3s;
}

.all-categories-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
  width: 326px;
  height: 198px;
  overflow-y: scroll;
}

.all-categories-item-button {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(20 / 16);

  cursor: pointer;

  border: none;
  background: none;
  color: var(--color-gray-pale-alpha030);
}

.all-categories-item-button:hover,
.all-categories-item-button:focus,
.all-categories-item-button.is-active {
  color: var(--color-accent-primary);
}

@media screen and (min-width: 768px) {
  

  .all-categories-list {
    width: 176px;
    height: 416px;
    gap: 24px;
  }
}

@media screen and (min-width: 1280px) {
 

  .all-categories-button {
    margin-bottom: 42px;
  }
}

/**
  |============================
  | Styles Scroll
  |============================
*/

::-webkit-scrollbar {
  width: 8px;
  height: 116px;
}

@media screen and (min-width: 768px) {
  
  ::-webkit-scrollbar {
    height: 201px;
  }
}
::-webkit-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.18);
  border-radius: 12px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--color-modal-background);
}
