
 .recipe-card {
  width: 335px;
  height: 335px;
  border-radius: 8px;
}

.recipe-title {
  width: 140px;
  height: 18px;
  top: 214px;
  left: 16px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  background: #FFFFFF;
}

.recipe-description {
  width: 303px;
  height: 32px;
  top: 240px;
  left: 16px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  background: #FFFFFFCC;
};

.rating {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 4px;
}

.see-recipe-btn {
  width: fit-content;
  height: fit-content;
  padding: 8px 14px;
  border-radius: 8px;
  gap: 10px;
  background: #9BB537;
}

.see-recipe-btn span {
  width: 61px;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  background: #FFFFFF;
}



@media (min-width: 768px) {
  .recipe-card {
    width: 240px;
    height: 264px;
    border-radius: 15px;
    margin-left: 32px;
  }

  .recipe-title {
    width: 177px;
    top: 143px;
    letter-spacing: 0em;
    text-align: center;
    background: #FFFFFF;
  }

  .recipe-description {
    width: 208px;
    left: 16px;
    text-align: left;
    background: #FFFFFFCC;
  }

  .see-recipe-btn span {
    width: 89px;
    height: 31px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left; 
    background: #FFFFFF;
  }
}
@media(min-width:1280px) {
  .recipe-card {
    width: 250px;
    height: 287px;
    margin-left: 64px;
  }

  .recipe-title {
    width: 140px;
    top: 166px;
  }

  .recipe-description {
    width: 218px;
  }

  .see-recipe-btn {
  padding: 8px 16px;
}
  .see-recipe-btn span {
    width: 93px;
    height: 31px;
  }
}