.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9bb537;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.8;
  display: none;
}

.recipe-card {
  position: relative;
  width: 335px;
  height: 335px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /*background-repeat: no-repeat;*/
  /*background-position: 50% 50%;*/
  /*background-size: cover;*/

  cursor: pointer;
}

.recipe-title {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 16px;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 214px;
  color: #f8f8f8;
}

.recipe-description {
  width: 100%;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 16px;
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 32px;
  color: #f8f8f8;
}

.rating-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
  position: absolute;
  bottom: 10px;
  left: 16px;
  color: #f8f8f8;
}

.rating-number {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.see-recipe-btn {
  width: 89px;
  height: 31px;
  padding: 8px 14px;
  border-radius: 8px;
  gap: 10px;
  background: #9bb537;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  right: 16px;
}

.rating-stars {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  color: #e5e5e5;
}

.rating-star {
  display: inline-block;
  color: var(--color-star-unmarked);
}

.rating-star-icon {
  height: 16px;
  width: 16px;
  fill: currentColor;
}

.filled {
  color: var(--color-star-marked);
}

@media (min-width: 768px) {
  .recipe-card {
    width: 224px;
    height: 244px;
    border-radius: 15px;
    /*     margin-left: 32px; */
  }

  .recipe-title {
    width: 140px;
    top: 143px;
    padding-top: 143px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .recipe-description {
    width: 208px;
    text-align: left;
  }

  .see-recipe-btn {
    width: 89px;
    height: 31px;
    padding: 8px 14px 8px 14px;
    border-radius: 8px;
    gap: 10px;
    right: 7px;
  }

  .like-icon {
    left: 202px;
  }
}

@media (min-width: 1160px) {
  .recipe-card {
    width: 258px;
    height: 287px;
    /*     margin-left: 64px; */
  }

  .recipe-title {
    width: 140px;
    top: 166px;
  }

  .recipe-description {
    width: 218px;
  }

  .see-recipe-btn {
    width: 93px;
    height: 31px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    gap: 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }

  .like-icon {
    left: 212px;
  }
}

.like-icon {
  color: white;
  fill: none;
  stroke: currentColor;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 7%;
  left: 85%;
}

.like-icon.filled {
  color: var(--color-like-enabled);
  fill: currentColor;
}
