.fav-hero {
  width: 100%;

  padding-top: 45px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .fav-hero {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1160px) {
  .fav-hero {
    padding-top: 35px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .fav-hero {
    display: none;
  }
}
