.container {
  max-width: 355px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1104px;
    padding: 0 12px;
  }
}

.hero {
  padding-top: 137px;
  padding-bottom: 80px;
}

.hero-title {
  margin-bottom: 14px;

  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}
.decor-green-text {
  font-style: italic;
  color: var(--accent-color);
}
.hero-text {
  margin-bottom: 28px;

  font-size: 14px;
  line-height: 1.28;
}

.hero-btn {
  display: block;
  padding: 10px 20px;
  border: 1px solid var(--accent-color);

  border-radius: 12px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 141px;
    padding-bottom: 80px;
  }
  .hero-info {
    max-width: 446px;
  }
  .hero-title {
    margin-bottom: 16px;

    font-size: 36px;
  }
  .hero-text {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.5;
  }
  .hero-btn {
    padding: 14px 28px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 100px;
  }
  .hero-wrapper {
    display: flex;
    gap: 32px;
  }
}
