.rendered-cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0;
  }
  @media screen and (min-width:768px) {
    .rendered-cards {
        column-gap: 16px;
        row-gap: 16px;
      }
  }
  @media screen and ( min-width:1160px ) {
    .rendered-cards {
      row-gap: 32px;
    }
  }