@import url('../base/variables.css');

*,
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: 0.5s;
  outline: none !important;
}

/*ANIMATION*/
.animate {
  -webkit-animation: animatezoom var(--primary-animation-duration) forwards;
  animation: animatezoom var(--primary-animation-duration) forwards;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animate-reverse {
  -webkit-animation: animatezoom-reverse var(--primary-animation-duration) forwards;
  animation: animatezoom-reverse var(--primary-animation-duration) forwards;
}

@-webkit-keyframes animatezoom-reverse {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
  }
}

@keyframes animatezoom-reverse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/*ADDITIONAL*/
#roll_back {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--color-modal-background);
  /* background-color: #161616; */
  border-radius: 100%;
  border: 3px solid var(--color-accent-primary);
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 3; */
  color: var(--color-accent-primary);
  font-weight: 700;
  font-size: 28px;
  opacity: 0.8;
}

#roll_back:hover {
  opacity: 1;
  scale: 1.1;
}

.arrow-up {
  width: 24px;
  height: 24px;
  color: var(--color-gray-pale-alpha050);
  fill: none;
  stroke: currentColor;
  transform: rotate(180deg);
  color: var(--color-accent-primary);
}
