/**
  Markup:

  <label class='switch-button'>
    <input type='checkbox'>
    <span class='switch-button-circle'></span>
  </label>
 */

.switch-button {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;

  background-color: #cecdcd;
  border-radius: 60px;

  transition: background-color var(--primary-animation-duration) var(--primary-animation-time-func);

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .switch-button {
    box-shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.40);
  }
}

.switch-button input {
  display: inline-block;
  width: 100%;
  visibility: hidden;
}

.switch-button-circle {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;

  transition: transform var(--primary-animation-duration) var(--primary-animation-time-func);
}

.switch-button > input:checked + .switch-button-circle {
  transform: translateX(26px);
}

.switch-button:has(input:checked) {
  background-color: var(--color-accent-primary);
}
