<header>
  <div class="container header">
    <nav class="modal-nav-orig">
      <ul class="modal-list">
        <li class="modal-item-list home">
          <a href="./index.html" class="link-home">Home</a>
        </li>

        <li class="modal-item-list">
          <a href="" class="link-favorites">Favorites</a>
        </li>
      </ul>
    </nav>
    <a href="" class="logo"
      >tasty<span class="colorlogo dark-site">treats.</span></a
    >

    <button class="shopping-cart-button dark-site" type="button">
      <svg class="shopping-cart-button-svg dark-site">
        <use href="../img/icons.svg#cart"></use>
      </svg>
    </button>
    <button class="switcher" type="button">
      <svg class="switcher-org-svg">
        <use href="./image/symbol-defs.svg#icon-switch"></use>
      </svg>
    </button>
    <button class="burger-button dark-site" data-modal-open type="button">
      <svg class="burger-button-svg dark-site">
        <use href="../img/icons.svg#burger-menu"></use>
      </svg>
    </button>
  </div>

  <div class="modal is-hidden" data-modal>
    <button class="modal-button" data-modal-close type="button">
      <svg class="modal-button-svg">
        <use href="./image/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="modal-nav">
      <ul class="modal-list">
        <li class="modal-item-list home">
          <a href="./index.html" class="link-home">Home</a>
        </li>

        <li class="modal-item-list">
          <a href="" class="link-favorites">Favorites</a>
        </li>
      </ul>
    </nav>
    <button class="switcher" type="button">
      <svg class="switcher-svg">
        <use href="./image/symbol-defs.svg#icon-switch"></use>
      </svg>
    </button>
  </div>
</header>
