<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-info">
        <h1 class="hero-title">
          Learn to Cook
          <span class="decor-green-text">Tasty Treats'</span> Customizable
          Masterclass
        </h1>
        <p class="hero-text">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guides.
        </p>
        <button type="button" class="hero-btn">Order now</button>
      </div>
      <div class="hero-outer-swiper-wrapper">
        <div class="swiper mySwiper" style="overflow: visible">
          <div class="swiper-wrapper"></div>
          <div
            class="swiper-pagination"
            style="
              width: auto;
              left: 50%;
              transform: translateX(var(--swiper-pagination-left-translate-x));
              bottom: var(--swiper-pagination-bottom-margin);
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
