<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/main.css" />
   <title>Document</title>
</head>
<body>
   </div>
</div>
   <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button class="close-btn" data-modal-close>
          <svg class="close-svg">
          <use href="./img/icons.svg#close-pop-up"></use>
          </svg>
        </button>
   <ul>
      <li>0.0</li>
      <li class="rating-item">
        <svg class="rating-item-icon" width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </li>
      <li class="rating-item">
        <svg class="rating-item-icon" width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </li>
      <li class="rating-item">
        <svg class="rating-item-icon" width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </li>
      <li class="rating-item">
        <svg class="rating-item-icon" width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </li>
      <li class="rating-item">
        <svg class="rating-item-icon" width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </li>
    </ul>
    <form name="email-form">
      <input type="email" placeholder="Enter email" />
      <button class="btn-send">Send</button>
    </form>
      </div>
    </div>
    <script type="module" src="./js/pop-up-rating.js"></script>
</body>
</html>
    
  
