<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='./img/favicon.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='./css/main.css' />
    <title>Document</title>
  </head>
  <body>
    <div class='backdrop' data-modal>
      <div class='modal'>
        <button class='close-btn' data-modal-close>
          <svg class='close-svg'>
            <use href='./img/icons.svg#close-pop-up'></use>
          </svg>
        </button>
        <div class='pop-up-rating'>
          <p class='pop-up-rating-subtitle pop-up-rating-text'>Rating</p>
          <div class='pop-up-rating-section'>
            <p class='pop-up-rating-text pop-up-rating-number'>4.5</p>
            <ul class='pop-up-rating-list'>
              <li class='pop-up-rating-item'>
                <svg class='pop-up-rating-item-icon' width='24' height='24'>
                  <use href='./img/icons.svg#star'></use>
                </svg>
              </li>
              <li class='rating-item'>
                <svg class='pop-up-rating-item-icon' width='24' height='24'>
                  <use href='./img/icons.svg#star'></use>
                </svg>
              </li>
              <li class='rating-item'>
                <svg class='pop-up-rating-item-icon' width='24' height='24'>
                  <use href='./img/icons.svg#star'></use>
                </svg>
              </li>
              <li class='rating-item'>
                <svg class='pop-up-rating-item-icon' width='24' height='24'>
                  <use href='./img/icons.svg#star'></use>
                </svg>
              </li>
              <li class='rating-item'>
                <svg class='pop-up-rating-item-icon' width='24' height='24'>
                  <use href='./img/icons.svg#star'></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <form name='email-form' class='email-form'>
          <input class='form-input-text' type='email'
                 placeholder='Enter email' />
          <button class='form-input-button-submit btn-send'>Send</button>
        </form>
      </div>
    </div>
    <script type='module' src='./js/pop-up-rating.js'></script>
  </body>
</html>
