<div class="backdrop is-hidden" data-pop-up-rating-modal>
  <div class="pop-up-rating-modal">
    <button class="close-btn" data-pop-up-rating-close>
      <svg class="close-svg">
        <use href="/img/icons.svg#close-pop-up"></use>
      </svg>
    </button>
    <div class="pop-up-rating">
      <p class="pop-up-rating-subtitle pop-up-rating-text">Rating</p>
      <div class="pop-up-rating-section">
        <p class="pop-up-rating-text pop-up-rating-number">0.0</p>
        <ul class="pop-up-rating-list">
          <li class="pop-up-rating-item">
            <svg
              class="pop-up-rating-item-icon"
              data-rating="1"
              width="24"
              height="24"
            >
              <use href="/img/icons.svg#star"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg
              class="pop-up-rating-item-icon"
              data-rating="2"
              width="24"
              height="24"
            >
              <use href="/img/icons.svg#star"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg
              class="pop-up-rating-item-icon"
              data-rating="3"
              width="24"
              height="24"
            >
              <use href="/img/icons.svg#star"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg
              class="pop-up-rating-item-icon"
              data-rating="4"
              width="24"
              height="24"
            >
              <use href="/img/icons.svg#star"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg
              class="pop-up-rating-item-icon"
              data-rating="5"
              width="24"
              height="24"
            >
              <use href="/img/icons.svg#star"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <form name="rating-form" class="rating-form">
      <input
        name="email"
        class="form-input-text"
        type="email"
        placeholder="Enter email"
        required
      />
      <button type="submit" class="form-input-button-submit btn-send">
        Send
      </button>
    </form>
  </div>
</div>
