<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <button class="open-btn" data-modal-open>See recipe</button>
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">

<!-- потрібно виправити відображення кнопки закриття модалкиб свг не відображається-->

        <button class="close-btn" data-modal-close>
          <svg class="close-svg">
          <use href="/src/img/icons.svg#close-pop-up"></use>
          </svg>
        </button>
        <div class="swith-places">
            <iframe
          class="video-link"
          src="https://www.youtube.com/embed/qkTlcfCw7jQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <h1 class="pop-up-recipe-title">Banana pancakes</h1>
        <div class="rating">
          <span class="middle-rate">4.5</span>
          <ul class="stars-list">
            <li>🌟</li>
            <li>🌟</li>
            <li>🌟</li>
            <li>🌟</li>
            <li>🌟</li>
          </ul>
          <span class="middle-rate">40 min</span>
        </div>
        <div class="ingredients">
         
          
          <ul class='ingred-list'>
            <li class='ingred-li-item'>
                <p class="ingred-name">Banana</p>
                <p class="ingred-amount">1 large</p>
            </li>
            <li class='ingred-li-item'>
                <p class="ingred-name">Eggs</p>
                <p class="ingred-amount">2 medium</p>
            </li>
            <li class='ingred-li-item'>
                <p class="ingred-name">Oil</p>
                <p class="ingred-amount">1 tsp</p>
            </li>
            <li class='ingred-li-item'>
                <p class="ingred-name">Pecan nuts</p>
                <p class="ingred-amount">25 tsp</p>
            </li>
            <li class='ingred-li-item'>
                <p class="ingred-name">Baking Powder</p>
                <p class="ingred-amount">Pinch</p>
            </li>
            <li class='ingred-li-item'>
                <p class="ingred-name">Raspberries</p>
                <p class="ingred-amount">125 g</p>
            </li>
          </ul>

        </div>
       
        <ul class="hashtag-list">
            <li>
              <p>#Breakfast</p>
             </li>
             <li>
              <p>#Sweet</p>
             </li>
      </ul>
</div>
            <p class="how-to-cook">
                Mash the ripe banana in a medium mixing bowl. Add the egg and whisk
                together until well combined. Add the flour, baking powder, cinnamon
                (if using), and salt, and stir until just combined. Heat a non-stick
                skillet or griddle over medium heat and add the vegetable oil or
                melted butter. Scoop the batter onto the skillet or griddle using a
                1/4 cup measure, and cook for 2-3 minutes on each side, or until the
                pancakes are golden brown and cooked through. Serve warm with your
                favorite toppings such as maple syrup, sliced bananas, or whipped
                cream.
              </p>
<ul class="recipe-btn-list">
    <li><button class="btn">Add to favorite</button></li>
    <li><button class="btn">Give a rating</button></li>
</ul>

        </div>

        
      </div>
    </div>
    <script type="module" src="./js/pop-up-recipe.js"></script>
  </body>
</html>
