/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./base/main.css');
@import url('./utils/main.css');
@import url('./components/main.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--color-gray-accent-primary);
  color: var(--color-text-primary);
}
